@import "../../style/variables";

.ChatPage {
    display: flex;
    flex-direction: column;

    height: 100vh;

    .ChatPage__content {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 60px 200px;

        height: 90vh;
    }
}

@media (max-width: 1200px) {
    .ChatPage__content {
        padding: 60px 120px!important;
    }
}

@media (max-width: 1000px) {
    .ChatPage__content {
        padding: 60px 60px!important;
    }
}

@media (max-width: 958px) {
    .ChatPage__content {
        border: none!important;
        margin: 0px!important;
        margin-right: 10px!important;
        padding: 0!important;
    }
}
